{
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 120,
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "tabWidth": 4,
    "useTabs": false
}